[*.{cpp,hpp,c,h}]
charset = utf-8
indent_size = 2
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

[**{CMakeLists.txt,.cmake}]
charset = utf-8
indent_size = 2
indent_style = tab
insert_final_newline = true
trim_trailing_whitespace = true

